:root {
  /* Font Family */
  --ff-primary: "Poppins", sans-serif;

  /* Font Sizes */
  --ff-700: 3.5rem;
  --ff-600: 2.5rem;
  --ff-500: 1.5rem;
  --ff-400: 1rem;

  /* Text Color */
  --clr-golden: 36 100% 62%;
  --clr-black: 0 0% 0%;
  --clr-grey: 53 14% 89%;
}

/* Utilitiy Classes*/

/* Text Color */
.text-golden {
  color: hsl(var(--clr-golden));
}
.text-black {
  color: hsl(var(--clr-black));
}
.text-grey {
  color: hsl(var(--clr-grey));
}

/* Background Color*/
.bg-golden {
  background-color: hsl(var(--clr-golden));
}
.bg-dark {
  background-color: hsl(var(--clr-black));
}
.bg-grey {
  background-color: hsl(var(--clr-grey));
}

/* Font Family */
.ff-sans {
  font-family: var(--ff-primary);
}

/* Font Size */
.fs-700 {
  font-size: var(--ff-700);
}
.fs-600 {
  font-size: var(--ff-600);
}
.fs-500 {
  font-size: var(--ff-500);
}
.fs-400 {
  font-size: var(--ff-400);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  background: rgb(0, 0, 0, .5);
}
.text-center {
  text-align: center;
}
.block {
  display: block;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid-container {
  display: grid;
  gap: var(--gap, 1rem);
}
a{
  text-decoration: none;
}

#home {
  /* background-image: url("https://images.unsplash.com/photo-1447078806655-40579c2520d6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-origin: border-box;
  min-height: 100vh;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.primary-header {
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-image: linear-gradient(
    45deg,
    hsl(var(--clr-black)),
    hsl(var(--clr-golden) / 0.75)
  );
  padding-inline: 10%;
  z-index: 10;
}
ul li {
  list-style: none;
}
.btn {
  padding: 0.5em 1em;
  white-space: nowrap;
  border: none;
  border-radius: .5em;
  background-color: hsl(var(--clr-black));
  cursor: pointer;
}
.pad-inline{
  padding-inline: 10%;
}
.mar-inline{
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 2rem);
}
.menu-intro{
  height: clamp(6rem, 3rem + 15vh, 15rem);
  outline: 2px solid limegreen;
  position: relative;
}
.down-arrow{
  position: absolute;
  bottom: 10%;
  left: 90%;
  cursor: pointer;
}
.grid-container-sections{
  grid-template-areas:
    "header header"
    "content image";
  grid-template-columns: 1fr 1fr;
}
.grid-container-sections .header{
  grid-area: header;
}
.grid-container-sections > .main-side {
  grid-area: content;
}
.grid-container-sections > .section-img {
  grid-area: image;
}
.dishes {
  outline: 2px solid red;
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  padding: clamp(1rem, .2rem + 2vw, 3rem);
    --gap: clamp(1rem, .2rem + 2vw, 3rem);
}
.dishes > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  --flow-space: .5rem;
}

.catagory-press {
  position: absolute;
}
.form-block{
  padding: 2rem 4rem;
  --flow-space: .5rem;

}
.form-block input:where(:not([type="submit"])), textarea{
 width: 90%;
 border: none;
 border-bottom: .15rem solid black;
 padding-inline-start: 1rem;
 padding-block: 1rem;
 font-size: var(--ff-500);
}
.form-block input::placeholder{
  font-size: var(--ff-500);
  color: hsl(var(--clr-black)/ .5);
}
input[type="submit"]{
  margin-top: 2rem;
}
.footer .page-navigation, .social-media, .address{
  flex-direction: column;
  --gap: .2rem;
}
.footer{
  justify-content: space-between;
  background-image: linear-gradient(
    45deg,
    hsl(var(--clr-golden)),
    hsl(var(--clr-black))
  );
}
.invisible{
  display: none;
}
#cart{
  width: 20%;
  padding-block: .5rem;
  position: fixed;
  top:10%;
  right:1%;
  z-index: 10;
  background-color: antiquewhite;
  white-space: nowrap;
}
.item-img{
  width: 12rem;
  border-radius: 50%;
  overflow: hidden;
}
.selected-foods{
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  border-bottom: .1rem solid hsl(var(--clr-black));
  padding-block: 1rem;
}
.cart-result{
  flex-direction: column;
  align-items: end;
  padding-inline: 5%;
  --gap: 0;
}
.open-close{
  position: absolute;
  top: .5rem;
  right:2%;
}
.btn-popUp{
  border: none;
  background: none;
  cursor: pointer;
}
.delete-item{
  cursor: pointer;
}